    <p><strong>Nablarevyen</strong> er linjeforeningen Nabla sin egen revy! Vår første revyoppvisning i 2013 ble en kjempesuksess, 
        noe som har gjort Nablarevyen til en fast årlig tradisjon. 
        Revyen gir ikke bare et fantastisk show til publikum, for den bidrar også stort til det kreative og sosiale miljøet på fysmat.</p>

<hr>

    <p><strong>2013 - STRYKEHJERNE</strong> er et lite brukt begrep på en sinnstilstand mange fysmatere kan kjenne seg igjen i. 
        En tilstand hvor alt annet enn lab, øvinger og eksamen pirrer din interesse. 
        Strykehjerne var også navnet på den første moderne Nablarevyen, ledet av nå æreskomponent Ingvild Lyckander og initiert med tanke på Nablas 70-årsjubileum.
        I handlingen følger vi en fysmater og alle som ønsker å verve ham. 
        Den forrige Nablarevyen ble framført ti år tidligere i R2, så Strykehjerne måtte tenke nytt for å ende opp med tre forestillinger på Rockheim.
        Revyen fra 2013 skulle sparke i gang en etterlengtet tradisjon i Nabla som nå høster et sterkere engasjement enn noensinne.</p>

    <p><strong>2014 - HAMBUS – SIZE MATTERS</strong> var navnet og slagordet til både Nablarevyen 2014 og konsulentfirmaet som revyen dreide seg om.
        Hvorfor bruke penger fornuftig når du kan hive praktikanter på betalt sommerferie i Dubai og tørke opp kaffesøl med tusenlapper? 
        Bedriftens dysfunksjonelle stab er selvfølgelig også toppet med en regelfiksert HMS-ansvarlig som ikke lar seg stoppe av sine egne regler.</p>

    <p><strong>2015 - RELATIVT ARTIG</strong> var en revy med et temmelig vidløftig plot. 
        Vi møter tre nablakomponenter som får nyss om et gammelt mysterium som sender dem på leting gjennom Trondheim etter den såkalte humorlikningen, 
        en likning som hvis løst kan brukes til å skape den perfekte vits. 
        Det viser seg til slutt at Albert Einstein fant denne løsningen, men vil ikke at den skulle havne i gale hender. 
        Han reiser derfor i tid, møter våre helter og ødelegger den. 
        Plottet gikk for øvrig litt over hodet på mange i publikum, og de som var med i revyen for den sakens skyld.</p>

    <p><strong>2016 - TV3.14</strong> var under Nablarevyen 2016 den siste kanalen i Norge med integritet og intellektuell kvalitets-TV. 
        På randen av konkurs blir de kjøpt opp og tvangsfusjonert med en vulgær kanal fra Gjøvik. 
        Kampen om å holde kvaliteten oppe blir ekstra vanskelig når kronidioten som drev kanalen på Gjøvik stormer inn i driften med det han kaller TV.</p>

    <p><strong>2017 - LE!</strong> Blir vi kontrollert? 
        Er det kanskje helt OK? I 2017 gikk Nablarevyen for første gang bort fra å ha gjennomgående plott, men hadde istedenfor kontroll som sitt tema. 
        Revyen viste blant annet gisselsituasjoner dialtektalende variasjoner, intelligente fengselsinnsatte og en kontrollerende skribent med manglende kontroll. 
        I tillegg kom selvsagt den obligatoriske ABBA-musikalen dedikert til gressklipper-roboten Bernt.</p>

    <p><strong>2018 - ENTROPISK AFTEN</strong> beskriver den gode stemningen under enhver Nablarevy. 
        2018-revyen valgte å lene seg godt inn i kaoset en revyproduksjon kan være, ved å ha entropi som tema. 
        Dette førte til en rekke uforglemmelige innslag, som den blomstrende solsikken og alle fysmaters stolte mor, 
        en kraftig krydring av ordspill og kanskje den mest kaotiske, men organiserte, lillefinalen i revyens historie.</p>

    <p><strong>2019 - ILLUMINABLA</strong> satte spørsmålstegn ved alt med sitt konspirasjonsteoritema. 
        Selv grensen mellom revysketsj og virkelighet ble satt på prøve da Nablarevyens stand-in-skuespiller fikk sin scenedebut. 
        Revyen ga et innblikk i hva som egentlig skjer med Gløshaugens poteter, hvorfor man ikke skal fri til noen i en luftballong, og ikke minst et tårevått farvel til studietiden. 
        Til tross for å gi få svar livets spørsmål konkluderer revyen med at alt bør gå bra så lenge man hører på Illuminabla - en mystisk organisasjon som trekker i trådene.</p>

    <p><strong>2020 - ALT TIL SIN(TID)</strong> viste seg å bli en svært relevant tittel for året 2020. 
        Mens vi tok steget inn i et nytt tiår valgte Nablarevyen å se tilbake på, og reflektere over, de siste 50 årene. 
        Gjennom tidsreisen fikk publikum et gjensyn med alt fra månelandingen, og hvem som egentlig var tilstede, til eposter fra nigerianske prinser og den gode, gamle kjellerfølelsen. 
        Revyen avsluttet med en oppsummering av tiårene som nettopp hadde blitt besøkt og konkluderte med at det å stresse over fremtiden er nytteløst, og at alt bør tas til sin(tid).</p>

    <p><strong>SUPPEREVYEN</strong> viste seg å bli en svært relevant tittel for året 2020. 
        SUPPEREVYEN - NYT PÅ NYTT ble satt opp under Nablas 75-årsjubileum i 2018 og bestod av de beste innslagene, med noe modifisering for maksimal nytelse, fra de første fem nablarevyene. 
        Det ble et folkekjært gjensyn med blant annet revyens HMS-ansvarlig, to kleine fotoner og selveste daljekongen, samtidig som en tidligere kuttet sketsj endelig fikk skinne på scenen.</p>