    <p><strong>Nablarevyen</strong> er linjeforeningen Nabla sin egen revy! Vår første revyoppvisning i 2013 ble en kjempesuksess, 
        noe som har gjort Nablarevyen til en fast årlig tradisjon. 
        Revyen gir ikke bare et fantastisk show til publikum, for den bidrar også stort til det kreative og sosiale miljøet på fysmat.</p>

<hr>

    <h3><strong>Produksjoner</strong></h2>

    <p><strong>2020 - ALT TIL SIN(TID)</strong></p>

    <p><strong>2019 - ILLUMINABLA</strong></p>

    <p><strong>2018 - ENTROPISK AFTEN</strong></p>

    <p><strong>2017 - LE!</strong></p>

    <p><strong>2016 - TV3.14</strong></p>

    <p><strong>2015 - RELATIVT ARTIG</strong></p>

    <p><strong>2014 - HAMBUS – SIZE MATTERS</strong></p>

    <p><strong>2013 - STRYKEHJERNE</strong></p>

    <p><strong>SUPPEREVYEN</strong></p>

<hr>

    <h3><strong>Vedtekter</strong></h2>
    <a href="https://drive.google.com/file/d/1GD_Hf_meeMtvZlVvjvXuKPmSAs6g63se/view?usp=sharing">Nablarevyens vedtekter</a>

<hr>

    <h3><strong>Undergrupper</strong></h3>

    <ul>
        <li>Kosegruppa</li>
        <li>Scenegruppa</li>
        <li>PR</li>
        <li>Band</li>
        <li>Styret</li>
        <li>Hvem skal stå her?</li>
    </ul>