    <p><strong>Nablarevyen</strong> er linjeforeningen Nabla sin egen revy! Vår første revyoppvisning i 2013 ble en kjempesuksess, 
        noe som har gjort Nablarevyen til en fast årlig tradisjon. 
        Revyen gir ikke bare et fantastisk show til publikum, for den bidrar også stort til det kreative og sosiale miljøet på fysmat.</p>

<hr>

    <h3><strong>Produksjoner</strong></h3>

    <p><strong>2024 - MAKAN</strong></p>

    <p><strong>2023 - EMOSJONSSPEKTRUM</strong></p>

    <p><strong>2022 - L’HÔSPITAL</strong></p>

    <p><strong>2021 - VIVE LA DERIVASJON</strong></p>

    <p><strong>2020 - ALT TIL SIN(TID)</strong></p>

    <p><strong>2019 - ILLUMINABLA</strong></p>

    <p><strong>2018 - ENTROPISK AFTEN</strong></p>

    <p><strong>2017 - LE!</strong></p>

    <p><strong>2016 - TV3.14</strong></p>

    <p><strong>2015 - RELATIVT ARTIG</strong></p>

    <p><strong>2014 - HAMBUS – SIZE MATTERS</strong></p>

    <p><strong>2013 - STRYKEHJERNE</strong></p>

    <p><strong>JUBILEUMSREVYEN - DEN GANG, MEN NÅ</strong></p>

    <p><strong>SUPPEREVYEN - NYT PÅ NYTT</strong></p>

<hr>

    <h3><strong>Vedtekter</strong></h2>
    <a href="/static/Forskrifter.pdf">Nablarevyens forskrifter</a>
    <a href="/static/Vedtekter.pdf">Nablarevyens vedtekter</a>

<hr>
