{% load static %}
<footer class="footer bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-12 col-md-4 pt-4 pb-4 text-center text-md-left">
        <h4 class="text-white">Kontaktinformasjon</h4>
        <hr class="mt-1 mb-1">
        <p class="small text-white mb-0">Du kan nå oss på <a href="mailto:revy@nabla.no">revy@nabla.no</a> eller på følgende adresse:</p>
        <p class="small text-white text-uppercase">
          <strong>Nabla<br>
          Kjemiblokk 2<br>
          Sem Sælands vei 10, NTNU<br>
          7034 Trondheim<br>
          Norway</strong>
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center pt-4 pb-4">
        <img src="{% static 'img/nablarevyen_vektor_hvit.svg' %}" height="170" alt="Nablarevyen logo">
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center pt-4 pb-4">
        <div class="row align-items-center">
          <div class="col-12 p-1">
            <a href="https://twitter.com/nablarevyen"><img src="{% static 'img/twitter-icon.svg' %}" width="60" height="60" alt="Twitter"></a>
            <a href="https://www.facebook.com/nablarevyen/"><img src="{% static 'img/facebook-icon.svg' %}" width="60" height="60" alt="Facebook"></a>
          </div>
          <div class="col-12 p-1">
            <a href="https://www.instagram.com/nablarevyen/"><img src="{% static 'img/instagram-icon.svg' %}" width="60" height="60" alt="Instagram"></a>
            <a href="https://www.youtube.com/user/LinjeforeningenNabla"><img src="{% static 'img/youtube-icon.svg' %}" width="60" height="60" alt="YouTube"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
