[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.*"
pillow = "*"
django-instagram = "*"
django-image-cropping = "*"
easy-thumbnails = "*"
django-ckeditor = "*"
django-polymorphic = "*"
django-embed-video = "*"
gunicorn = "*"
pymysql = "*"
sorl-thumbnail = "==12.10.0"

[requires]
python_version = "3.9.0"

[scripts]
production = "gunicorn --config /etc/websites/nablarevyen/gunicorn.conf nablarevy
en.wsgi:application"
