.mw-100 {max-width: 100% !important;}
.mw-80 {max-width: 80% !important;}
.mw-75 {max-width: 75% !important;}
.mw-60 {max-width: 60% !important;}
.mw-50 {max-width: 50% !important;}
.mw-40 {max-width: 40% !important;}
.mw-33 {max-width: 33.33333% !important;}
.mw-25 {max-width: 25% !important;}
.mw-20 {max-width: 20% !important;}

.w-100 {width: 100% !important;}
.w-80 {width: 80% !important;}
.w-75 {width: 75% !important;}
.w-60 {width: 60% !important;}
.w-50 {width: 50% !important;}
.w-40 {width: 40% !important;}
.w-33 {width: 33.33333% !important;}
.w-25 {width: 25% !important;}
.w-20 {width: 20% !important;}

@media (min-width:576px) {
    .mw-sm-100 {max-width: 100% !important;}
    .mw-sm-80 {max-width: 80% !important;}
    .mw-sm-75 {max-width: 75% !important;}
    .mw-sm-60 {max-width: 60% !important;}
    .mw-sm-50 {max-width: 50% !important;}
    .mw-sm-40 {max-width: 40% !important;}
    .mw-sm-33 {max-width: 33.33333% !important;}
    .mw-sm-25 {max-width: 25% !important;}
    .mw-sm-20 {max-width: 20% !important;}

    .w-sm-100 {width: 100% !important;}
    .w-sm-80 {width: 80% !important;}
    .w-sm-75 {width: 75% !important;}
    .w-sm-60 {width: 60% !important;}
    .w-sm-50 {width: 50% !important;}
    .w-sm-40 {width: 40% !important;}
    .w-sm-33 {width: 33.33333% !important;}
    .w-sm-25 {width: 25% !important;}
    .w-sm-20 {width: 20% !important;}
}

@media (min-width:768px) {
    .mw-md-100 {max-width: 100% !important;}
    .mw-md-80 {max-width: 80% !important;}
    .mw-md-75 {max-width: 75% !important;}
    .mw-md-60 {max-width: 60% !important;}
    .mw-md-50 {max-width: 50% !important;}
    .mw-md-40 {max-width: 40% !important;}
    .mw-md-33 {max-width: 33.33333% !important;}
    .mw-md-25 {max-width: 25% !important;}
    .mw-md-20 {max-width: 20% !important;}

    .w-md-100 {width: 100% !important;}
    .w-md-80 {width: 80% !important;}
    .w-md-75 {width: 75% !important;}
    .w-md-60 {width: 60% !important;}
    .w-md-50 {width: 50% !important;}
    .w-md-40 {width: 40% !important;}
    .w-md-33 {width: 33.33333% !important;}
    .w-md-25 {width: 25% !important;}
    .w-md-20 {width: 20% !important;}
}

@media (min-width:992px) {
    .mw-lg-100 {max-width: 100% !important;}
    .mw-lg-80 {max-width: 80% !important;}
    .mw-lg-75 {max-width: 75% !important;}
    .mw-lg-60 {max-width: 60% !important;}
    .mw-lg-50 {max-width: 50% !important;}
    .mw-lg-40 {max-width: 40% !important;}
    .mw-lg-33 {max-width: 33.33333% !important;}
    .mw-lg-25 {max-width: 25% !important;}
    .mw-lg-20 {max-width: 20% !important;}

    .w-lg-100 {width: 100% !important;}
    .w-lg-80 {width: 80% !important;}
    .w-lg-75 {width: 75% !important;}
    .w-lg-60 {width: 60% !important;}
    .w-lg-50 {width: 50% !important;}
    .w-lg-40 {width: 40% !important;}
    .w-lg-33 {width: 33.33333% !important;}
    .w-lg-25 {width: 25% !important;}
    .w-lg-20 {width: 20% !important;}
}

@media (min-width:1200px) {
    .mw-xl-100 {max-width: 100% !important;}
    .mw-xl-80 {max-width: 80% !important;}
    .mw-xl-75 {max-width: 75% !important;}
    .mw-xl-60 {max-width: 60% !important;}
    .mw-xl-50 {max-width: 50% !important;}
    .mw-xl-40 {max-width: 40% !important;}
    .mw-xl-33 {max-width: 33.33333% !important;}
    .mw-xl-25 {max-width: 25% !important;}
    .mw-xl-20 {max-width: 20% !important;}

    .w-xl-100 {width: 100% !important;}
    .w-xl-80 {width: 80% !important;}
    .w-xl-75 {width: 75% !important;}
    .w-xl-60 {width: 60% !important;}
    .w-xl-50 {width: 50% !important;}
    .w-xl-40 {width: 40% !important;}
    .w-xl-33 {width: 33.33333% !important;}
    .w-xl-25 {width: 25% !important;}
    .w-xl-20 {width: 20% !important;}
}
