.footer {
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
  box-shadow: inset 2px 0px 4px 0px rgba(0, 0, 0, 0.8);
}
